.footer{
    background-color: #dedede;
    padding-top: 30px;
    margin-top: 0px  ;
    border-top: 0px darkgrey solid;
    padding-bottom: 0px;
    margin-top: 0px;
}

.footer-by{
    padding-top: 0px;
    margin-top: 0px;
}